

body{
    background-image: url("../Images/reg.webp");
    background-position: center;
    background-size: cover;
}
button
{
    position: relative;
    margin-bottom: 10px;
    width: 80%;
    top: -20px;
}
h2{
    color: #198754;
}
div
{
    padding: 2px;
}
.form-check-input{
    border: 2px solid;
}